h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid;
    border-color: #e9c46a;
    text-decoration: underline;
    color: #e9c46a;
    background-color: black;
}