.CartWidget {
    border: solid;
    border-block-color: grey;
    padding: 5px;
    margin: 0px 100px;
    font-size: larger;
}

.CartWidget:visited {
    text-decoration: none;
    color: #e9c46a
}

.CartWidget:hover {
    text-decoration: none;
}

.CartWidget:focus {
    text-decoration: none;
}

.CartWidget:hover, .CartWidget:active {
    text-decoration: none;
}