.App {
  background-color: #282c34;
  text-align: center;
  color: rgb(236, 185, 138);
}

body {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  background-color: #b65740;
}

h2 {
  color: #264653;
  font-size: xx-large;
}