.App {
  text-align: center;
}

body {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  background-color: #b65740;
}

h2 {
  color: #264653;
  font-size: xx-large;
}