.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(209, 199, 199);
    color: black;
    max-width: fit-content;
    border-radius: 8px;
}

.addToCart {
    width: -webkit-fill-available;
    font-size: inherit;
}

.counter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: larger;
}

.stock {
    font-size: x-small;
}